<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiesz.writinghome.mapper.MaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiesz.writinghome.entity.Material">
        <id column="materialId" property="materialId"/>
        <result column="content" property="content"/>
        <result column="userId" property="userId"/>
        <result column="state" property="state"/>
        <result column="isPublic" property="isPublic"/>
        <result column="source" property="source"/>
        <result column="insertTime" property="insertTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        materialId, content, userId,parentId, state, source, insertTime, updateTime,isPublic
    </sql>

    <!--查询条件-->
    <sql id="where">
        FROM material a
        <where>
            state = 1
            <if test="materialId!=null and materialId!=''">
                AND materialId = #{materialId}
            </if>
            <if test="content!=null and content!=''">
                AND content LIKE "%"#{content}"%"
            </if>
            <if test="parentId!=null">
                AND parentId = #{parentId}
            </if>
            <if test="isPublic!=null">
                AND isPublic = #{isPublic}
            </if>
            <if test="userId!=null and userId!=''">
                AND userId = #{userId}
            </if>
            <if test="state!=null and state!=''">
                AND state = #{state}
            </if>
            <if test="source!=null and source!=''">
                AND source = #{source}
            </if>
            <if test="insertTime!=null and insertTime!=''">
                AND insertTime = #{insertTime}
            </if>
            <if test="updateTime!=null and updateTime!=''">
                AND updateTime = #{updateTime}
            </if>
            <if test="typeIds != null and typeIds.size >0 ">
                AND materialId IN(
                SELECT materialId
                FROM material_type_rela
                WHERE typeId IN
                <foreach item="item" index="index" collection="typeIds"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
            </if>
        </where>
    </sql>
    <!--获取列表-->
    <select id="list" parameterType="com.jiesz.writinghome.entity.Material"
            resultType="com.jiesz.writinghome.entity.Material">
        SELECT
        <include refid="Base_Column_List"/>
        <include refid="where"/>
        ORDER BY insertTime DESC
        <if test="offset !=null and limit !=null">
            LIMIT #{offset},#{limit}
        </if>
    </select>

    <!--获取总数-->
    <select id="count" parameterType="com.jiesz.writinghome.entity.Material" resultType="java.lang.Integer">
        SELECT COUNT(1)
        <include refid="where"/>
    </select>
</mapper>
