<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiesz.writinghome.mapper.ParodyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jiesz.writinghome.entity.Parody">
        <id column="parodyId" property="parodyId"/>
        <result column="content" property="content"/>
        <result column="materialId" property="materialId"/>
        <result column="userId" property="userId"/>
        <result column="state" property="state"/>
        <result column="insertTime" property="insertTime"/>
        <result column="updateTime" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            parodyId, content, materialId, userId, state, insertTime, updateTime
        </sql>

    <!--查询条件-->
    <sql id="where">
        FROM parody
        <where>
            state = 1
            <if test="parodyId!=null and parodyId!=''">
                AND parodyId = #{parodyId}
            </if>
            <if test="content!=null and content!=''">
                AND content = #{content}
            </if>
            <if test="materialId!=null and materialId!=''">
                AND materialId = #{materialId}
            </if>
            <if test="userId!=null and userId!=''">
                AND userId = #{userId}
            </if>
            <if test="state!=null and state!=''">
                AND state = #{state}
            </if>
            <if test="insertTime!=null and insertTime!=''">
                AND insertTime = #{insertTime}
            </if>
            <if test="updateTime!=null and updateTime!=''">
                AND updateTime = #{updateTime}
            </if>
        </where>
    </sql>
    <!--获取列表-->
    <select id="list" parameterType="com.jiesz.writinghome.entity.Parody"
            resultType="com.jiesz.writinghome.entity.Parody">
        SELECT
        <include refid="Base_Column_List"/>
        <include refid="where"/>
        ORDER BY insertTime DESC
        <if test="offset !=null and limit !=null">
            LIMIT #{offset},#{limit}
        </if>
    </select>

    <!--获取总数-->
    <select id="count" parameterType="com.jiesz.writinghome.entity.Parody" resultType="java.lang.Integer">
        SELECT COUNT(1)
        <include refid="where"/>
    </select>
</mapper>
